spring:
  jpa:
    hibernate:
      ddl-auto: update

  servlet:
    multipart:
      enabled: true
      max-file-size: 160MB
      max-request-size: 200MB
      file-size-threshold: 2MB

server:
  tomcat:
    max-swallow-size: 200MB
    max-http-form-post-size: 200MB
