<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Motors - ERROR</title>
    <link rel="stylesheet" th:href="@{/main/reset.css}">
    <link rel="stylesheet" th:href="@{/main/style.css}">
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
    <section class="glass-error-wrap">
        <div class="glass-card">
            <div class="content">
                <span class="bg-text">500</span>
                <h2 class="title">Internal Server Error</h2>
                <p class="desc">
                    예상치 못한 시스템 문제가 발생하여 잠시 멈췄습니다.<br>
                    빠른 시일 내에 수리를 마치겠습니다.<br>
                    잠시 후 다시 접속해 주시기 바랍니다.
                </p>
                <a href="/" class="btn-outline">메인으로 가기</a>
            </div>
        </div>
    </section>
    <script th:src="@{/main/script.js}"></script>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>