html, body {
    overflow-x: hidden;
}

/* ---탑버튼 */
#topBtn{
    position: fixed;
    right: 30px;
    bottom: 40px;
    width: 60px;
    height: 90px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 9000;

    opacity: 0;
    pointer-events: none;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.4s ease;
}

#topBtn.is-show{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

#topBtn img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.25s ease, transform 0.25s ease;
}

/* hover 이미지 기본 숨김 */
#topBtn .top-hover{
    opacity: 0;
}

#topBtn:hover .top-default{
    opacity: 0;
    transform: translateY(-6px);
}

#topBtn:hover .top-hover{
    opacity: 1;
    transform: translateY(-6px);
}

/* =============================MAIN */

#main .main-visual{
    position: relative;
    width: 100%;
    height: calc(100vh - 65px);
    /* background: url(./images/main_banner1.png) no-repeat center / cover; */
    margin-top: 65px;
    overflow: hidden;

    cursor: grab;
}

#mainVisual.is-dragging{
    cursor: grabbing;
}

#main .main-visual .main-bg-layer{
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transition: transform 1.2s ease;
}

#main .main-visual .bg-slide{
    display: none;
}

/* 슬라이드용 */
#main .main-visual .current{
    transform: translateX(0);
    opacity: 1;
}

#main .main-visual .next{
    transform: translateX(100%);
    opacity: 1;
}

#main .main-visual .main-visual-content{
    position: absolute;
    left: 120px;
    top: 200px;
    color: #fff;
}

#main .main-visual .main-visual-content .hero-sub{
    font-size: 40px;
    font-weight: 300;
    text-shadow: 2px 2px 5px #2c2c2c43;
    letter-spacing: -1px;
}

#main .main-visual .main-visual-content .hero-title{
    font-size: 100px;
    font-weight: 400;
    letter-spacing: -1px;
    text-shadow: 2px 2px 5px #2c2c2c43;
}

#main .main-visual .main-visual-content .hero-sub,
#main .main-visual .main-visual-content .hero-title{
    transition: opacity 0.8s ease, transform 0.8s ease;
}

/* ----------공통 너비80%--------- */
.container-80 {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

/* ======================================BEST CAR */

#main .bestcar{
    background: #111;
    margin: 200px 0;
}

#main .bestcar .section-head{
    text-align: center;
    color: #bbbbbb;
}

#main .bestcar .section-head h2{
    font-size: 60px;
    font-weight: 400;
}

#main .bestcar .section-head p{
    font-size: 40px;
    font-weight: 300;
    margin-top: 12px;
}

#main .bestcar .bestcar-row{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    /* padding: 0 80px; */
    margin-top: 80px;
}

#main .bestcar .bestcar-row .bestcar-card{
    width: 200px;
    height: 400px;
    background-color: #222;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    transition: width 0.5s, transform 0.5s, background-color 0.5s;
    position: relative;
}

#main .bestcar .bestcar-row .bestcar-card .card-inner{
    width: 100%;
    height: 100%;
    position: relative;
}

#main .bestcar .bestcar-row .bestcar-card .card-inner .card-title.is-vertical{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #bbb;
    font-size: 40px;
    font-weight: 100;
    position:absolute;
    bottom: 10px;
    line-height: 1.1;
}

#main .bestcar .bestcar-row .bestcar-card .card-inner .card-title .sub{
    font-weight: 400;
    color: #fff;
}


/* ---호버 이벤트 */
#main .bestcar .bestcar-row .bestcar-card:hover,
#main .bestcar .bestcar-row .bestcar-card.is-active{
    width: 400px;
    transform: translateY(-50px);
    background-color: #ff6D00;
    box-shadow: 0 10px 30px rgb(0, 0, 0);
}

#main .bestcar .bestcar-row .bestcar-card:hover .card-title.is-vertical,
#main .bestcar .bestcar-row .bestcar-card.is-active .card-title.is-vertical{
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

/* ---호버 전 이미지 없음 */
#main .bestcar .bestcar-row .bestcar-card .card-inner .card-car{
    opacity: 0;
    transition: all 0.4s;

    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    will-change: transform;
}

/* ---아우디 크기 */
#main .bestcar .bestcar-row .bestcar-card .card-inner .card-car.audi{
    transform: scale(1.2);
}

#main .bestcar .bestcar-row .bestcar-card:hover .card-car,
#main .bestcar .bestcar-row .bestcar-card.is-active .card-car{
    opacity: 1;
}


/* ========================================나만의 차 만들기 */

#main .customcar{
    position: relative;
    height: 850px;
    background: url(./images/customCar_bg.jpg) no-repeat center / cover;
    margin: 200px 0;
}

#main .customcar .customcar-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main .customcar .customcar-overlay .customcar-title{
    font-size: 60px;
    margin-bottom: 55px;
    font-weight: 400;
    color: #bbb;
    letter-spacing: -2px;
}

#main .customcar .customcar-overlay .customcar-actions{
    display: flex;
    gap: 40px;
}

#main .customcar .customcar-overlay .customcar-actions .btn-fill{
    position: relative;
    padding: 16px 36px;
    border: 1px solid #ff6D00;
    /* border: 1px solid #fff; */
    color: #fff;
    overflow: hidden;
    font-size: 18px;
    font-weight: 200;
    z-index: 1;
}

#main .customcar .customcar-overlay .customcar-actions .btn-fill::before{
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ff6D00;
    transition: left 0.4s ease;
    z-index: -1;
}

#main .customcar .customcar-overlay .customcar-actions .btn-fill:hover::before{
    left: 0;
}

/* =====================================이벤트 배너 */

#main .eventbanner{
    margin: 200px 0;
}

#main .eventbanner .eventbanner-viewport{
    position: relative;
    width: 100%;
    height: 336px;
    overflow: hidden;
    /* background: url(./images/event_banner1.jpg) no-repeat center / cover; */
    border-radius: 10px;
    background-color: #000; /* 로딩 전 대비용 */
}

#main .eventbanner .eventbanner-viewport .eventbanner-slide{
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    /* ----나중에 js로 액션 줘야함 opacity: 1;  */
    transition: opacity 0.6s;
}

#main .eventbanner .eventbanner-viewport .eventbanner-content{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    transition: all 0.4s ease;
}

#main .eventbanner .eventbanner-viewport .eventbanner-content.is-right{
    text-align: right;
    padding-left: 550px;
}

#main .eventbanner .eventbanner-viewport .eventbanner-content .eventbanner-title{
    font-weight: 300;
    font-size: 48px;
    letter-spacing: -1px;
}

#main .eventbanner .eventbanner-viewport .eventbanner-content .eventbanner-desc{
    font-size: 18px;
    font-weight: 200;
    margin: 30px 0 40px;
    color: #bbb;
}

#main .eventbanner .eventbanner-viewport .eventbanner-content .eventbanner-cta{
    border: 1px solid #bbb;
    padding: 10px 28px;
    transition: 0.3s ease;
}

#main .eventbanner .eventbanner-viewport .eventbanner-content .eventbanner-cta:hover{
    color: #ff6D00;
    border-color: #ff6D00;
}

#main .eventbanner .eventbanner-pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    /* border: 1px solid blue; */
}

#main .eventbanner .eventbanner-pagination .dot{
    width: 10px;
    height: 10px;
    /* border-radius: 50%; */
    border: 1px solid #bbb;
    cursor: pointer;
    transition: all 0.3s ease;
}

#main .eventbanner .eventbanner-pagination .dot:hover{
    background-color: #bbb;
}

#main .eventbanner .eventbanner-pagination .dot.is-active{
    background-color: #bbb;
}

/* ========================================브랜드별인기 */

#main .brandpopular{
    color: #bbb;
    margin: 200px 0;
}

#main .brandpopular .brandpopular-inner{
    position: relative;
}

#main .brandpopular .brandpopular-inner .brandpopular-title{
    text-align: center;
    font-size: 60px;
    font-weight: 400;
}

#main .brandpopular .brandpopular-inner .brandpopular-tabs{
    position: absolute;
    top: 120px;
    right: 0;
    display: flex;
    gap: 50px;
}

#main .brandpopular .brandpopular-inner .brandpopular-tabs .tab{
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* js에서 클래스 줌 */
#main .brandpopular .brandpopular-inner .brandpopular-tabs .tab.is-active{
    color: #ff6D00;
    transform: translateY(-6px) scale(1.2);
    font-weight: 400;
    text-shadow: 0 2px 6px rgba(255,122,0,0.35);
    border-bottom: 3px solid #ff6D00;
    padding-bottom: 5px;
}

/* ----나중에 탭메뉴 js할때 클래스로 바꿔야함 클릭했을 때 변경되게 */
#main .brandpopular .brandpopular-inner .brandpopular-tabs .tab:hover{
    color: #ff6D00;
}

#main .brandpopular .brandpopular-inner .brandpopular-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 40px; */
    margin-top: 80px;
    /* border: 1px solid beige; */
}

/* 본문 */
#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-copy{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-copy .brand-name{
    font-size: 40px;
    font-weight: 400;
}

#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-copy .brandpopular-line{
    width: 50px;
    height: 5px;
    background-color: #ff6D00;
    margin: 16px 0 20px;
}

#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-copy .brand-sub{
    font-size: 25px;
    font-weight: 300;
}

/* 차량 */
#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-cars{
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
    margin-top: 50px;
}

/* 화살표버튼 */
#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-cars .nav-btn{
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-cars .prev{
    right: 40px;
}

#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-cars .nav-btn:hover{
    opacity: 1;
}

/* 뷰포트 */
#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-cars .cars-viewport{
    width: 100%;
    overflow: hidden;
    height: 500px;
}

#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-cars .cars-viewport .cars-track{
    display: none;
    gap: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding: 50px;
}

#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-cars .cars-viewport .cars-track.is-active{
    display: flex;
}


#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-cars .cars-viewport .cars-track .car-item{
    width: 300px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-cars .cars-viewport .cars-track .car-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-cars .cars-viewport .cars-track .car-item.is-big{
    width: 540px;
    height: 300px;
}

/* ---작은 자동차만 위치값 조금 조정함 */
#main .brandpopular .brandpopular-inner .brandpopular-body .brandpopular-cars .cars-viewport .cars-track .car-item:not(.is-big){
    transform: translateY(-30px);
}



/* =============================어워즈 */
#main .awards{
    position: relative;
    width: 100%;
    color: #bbb;
    margin: 200px 0 130px;
}

/* bg */
#main .awards .awards-bg{
    position: absolute;
    inset: 0;
    background: url(./images/awards_1.png) no-repeat center / cover;
    filter: blur(1px) brightness(0.3);
    z-index: 0;
}

#main .awards .awards-inner{
    position: relative;
    z-index: 2;
}


#main .awards .awards-inner .awards-title{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 60px;
    font-weight: 400;
    padding: 60px 0 50px;
}

#main .awards .awards-inner .awards-slider{
    position: relative;
    display: flex;
    align-items: center;
}

#main .awards .awards-inner .awards-slider .awards-viewport{
    overflow: hidden;
    width: 100%;
}

#main .awards .awards-inner .awards-slider .awards-viewport .awards-track{
    display: flex;
    gap: 130px;
    /* js전에 보여지는 이미지 만드려고 넣어놓은 위치값 */
    /* transform: translateX(calc(50% - 590px - 450px)); */
}

#main .awards .awards-inner .awards-slider .awards-viewport .awards-track .award-card{
    width: 660px;
    flex-shrink: 0;
    opacity: 0.8;
    transform: scale(0.8);
    color: #fff;
}

#main .awards .awards-inner .awards-slider .awards-viewport .awards-track .award-card:not(.award-card.is-active){
    filter: brightness(0.4);
}

#main .awards .awards-inner .awards-slider .awards-viewport .awards-track .award-card.is-active{
    opacity: 1;
    transform: scale(1.1);
}

#main .awards .awards-inner .awards-slider .awards-viewport .awards-track .award-card .award-figure img{
    width: 100%;
}

#main .awards .awards-inner .awards-slider .awards-viewport .awards-track .award-card .award-body{
    /* margin-top: 40px; */
    height: 270px;
    padding: 30px 32px 80px;
    background-color: #222;
}

#main .awards .awards-inner .awards-slider .awards-viewport .awards-track .award-card .award-body .award-kicker{
    font-size: 18px;
    font-weight: 100;
    opacity: 0.8;
}

#main .awards .awards-inner .awards-slider .awards-viewport .awards-track .award-card .award-body .award-head{
    font-size: 26px;
    font-weight: 400;
    margin: 10px 0 20px;
}

#main .awards .awards-inner .awards-slider .awards-viewport .awards-track .award-card .award-body .award-desc{
    font-size: 14px;
    font-weight: 100;
    line-height: 1.8;
    opacity: 0.8;
}

/* 슬라이드버튼 */
#main .awards .awards-inner .awards-slider .awards-nav{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
    color: #fff;
    font-size: 130px;
    font-weight: 100;
    cursor: pointer;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);

    opacity: 0.7;
    transition: opacity 0.2s ease;
}

#main .awards .awards-inner .awards-slider .awards-nav:hover{
    opacity: 1;
}

#main .awards .awards-inner .awards-slider .awards-nav.prev{
    left: 15%;
}

#main .awards .awards-inner .awards-slider .awards-nav.next{
    right: 15%;
}

/* 슬라이드프로그 */
#main .awards .awards-inner .awards-progress{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 10px auto 0;
    padding: 20px 40px 50px;
    width: 720px;

    position: relative;
    /* border: 1px solid red; */
}

#main .awards .awards-inner .awards-progress .seg{
    width: 40px;
    height: 3px;
    background-color: rgba(255,255,255,0.3);
}

#main .awards .awards-inner .awards-progress .seg.is-active{
    width: 100px;
    background-color: #fff;
}

#main .awards .awards-inner .awards-progress .play,
#main .awards .awards-inner .awards-progress .pause{
    position: absolute;
    left: 620px;
    top: 28%;
    transform: translateY(-50%);

    display: inline-block;
    width: 24px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    cursor: pointer;

    transition: opacity 0.2s ease;
}

/* pause만 살짝 크게 */
#main .awards .awards-inner .awards-progress .pause{
    transform: translateY(-50%) scale(1.4);
}



/* ==================================견적 */

#main .quickicons{
    margin: 0 0 250px;
}

#main .quickicons .quickicons-inner{
    /* width: 80%; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

#main .quickicons .quickicons-inner .quickicon{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
}

#main .quickicons .quickicons-inner .quickicon .icon-img{
    position: relative;
    width: 90px;
    height: 90px;
}

#main .quickicons .quickicons-inner .quickicon .icon-img img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* 호버이벤트 */
#main .quickicons .quickicons-inner .quickicon .icon-img .icon-hover{
    opacity: 0;
}

#main .quickicons .quickicons-inner .quickicon span{
    transition: transform 0.3s ease, color 0.3s ease;
}

#main .quickicons .quickicons-inner .quickicon:hover .icon-img img,
#main .quickicons .quickicons-inner .quickicon:hover span{
    transform: translateY(-12px);
}

#main .quickicons .quickicons-inner .quickicon:hover .icon-img .icon-default{
    opacity: 0;
}

#main .quickicons .quickicons-inner .quickicon:hover .icon-img .icon-hover{
    opacity: 1;
    /* box-shadow: 0 10px 30px rgb(0, 0, 0); */
}

#main .quickicons .quickicons-inner .quickicon:hover span{
    color: #ff6D00;
    text-shadow: 0 10px 30px rgb(0, 0, 0);;
}