@charset "utf-8";



.car{
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    background-image: url(images/showroom-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 모달 */
.car .car-panner{
    width: 1200px;
    position: relative;
    padding: 20px 50px;
    background: rgba(75, 74, 74, 0.685);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}


/* 메인 텍스트 */
.car .car-panner .main{
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 40px;
}

/* 왼쪽 메인 이미지 + 텍스트 */
.car .car-panner .car-visual{
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.car .car-panner .car-visual .car-body{
    width: 500px;
    height: 300px;
    text-align: center;
    margin-top: 120px;
    margin-left: 50px;
}
.car .car-panner .car-visual img{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
    transform: scale(1.25);
}
.car .car-panner .car-visual .car-name{
    font-size: 40px;
    font-weight: 300;
    margin-top: 40px;
    color: white;
}

/* 오른쪽 견적 텍스트 */

.car .car-panner .car-visual .right-estimate{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.car .car-panner .car-visual .estimate {
    flex: 1;
    max-height: 260px;
    overflow-y: auto;
    padding-right: 12px;
    font-size: 16px;
    line-height: 1.9;
    color: #fff;
    font-weight: 100;
    text-align: right;
    scrollbar-width: thin;
    scrollbar-color: #ff6b00 transparent;
}

.car .car-panner .car-visual .estimate li {
    margin-bottom: 6px;
}


/*스크롤바 스타일 - 크롬/엣지 */
.car .car-panner .car-visual .estimate::-webkit-scrollbar {
    width: 6px;
}
.car .car-panner .car-visual .estimate::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.35);
    border-radius: 10px;
}
.car .car-panner .car-visual .estimate::-webkit-scrollbar-track {
    background: transparent;
}


.car .car-panner .car-visual .estimate-tit {
    position: relative;
    width: 85%;          
    margin-left: auto;
    margin-top: 18px;
    padding-top: 18px;
    list-style: none;
    line-height: 30px;
    color: #fff;
}

.car .car-panner .car-visual .estimate-tit::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: rgba(255,255,255,0.2); 
}

.car .car-panner .car-visual .estimate-tit li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 8px;
}



.car .car-panner .car-visual .estimate-tit li:last-child {
    font-size: 22px;
    font-weight: 200;
}


/* 버튼 */
.car .car-panner .estimate-btn {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: 60px;
}

.car .car-panner .estimate-btn a{
    /* display: block; */
    position: relative;
    padding: 16px 50px;
    border: 1px solid #ff6b00;
    color: #fff;
    overflow: hidden;
    z-index: 0;
    isolation: isolate;
    font-size: 14px;
}

.car .car-panner .estimate-btn a::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ff6b00;
    transition: left 0.4s ease;
    z-index: -1;
}

/* hover */
.car .car-panner .estimate-btn a:hover::before{
    left: 0;
}



