@charset "UTF-8";

/* 세로 스크롤 없애기 */
body{
    overflow: hidden;
}

body.is-jumping .car{
    visibility: hidden;
}

/* clone은 클릭 불가 */
.clone{
    pointer-events: none;
}
.car.clone .scroll{
    display: none;
}

.car{
    width: 100%;
    height: 100vh;
    position: relative;
}

/* 배경 이미지 */
.car .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 40%;
}

/* 홈 버튼 */
.car .homeBtn img{
    width: 48px;
    height: 48px;
    position: fixed;
    right: 80px;
    top: 80px;
    z-index: 10;
}

/* 차량 텍스트 */
.car .textBox h1{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    left: 170px;
    bottom: 245px;
}
.car .textBox h3{
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    position: absolute;
    left: 170px;
    bottom: 190px;
}

/* 버튼 */
.textBox .btn{
    display: flex;
    gap: 15px;
    position: absolute;
    left: 170px;
    bottom: 100px;
}
.car .textBox .btn li{
    width: 200px;
    height: 60px;
    border: 1px solid #ff6d00;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.car .textBox .btn li a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.car .textBox .btn li::before{
    content: "";
    display: block;
    width: 200px;
    height: 60px;
    background-color: #ff6d00;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    transition: 0.4s;
}
.car .textBox .btn li:hover::before{
    transform: translateX(0);
}

/* 스크롤 UI */
.car .scroll{
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
    transition: opacity 0.4s ease;
    z-index: 10;
}
.car .scroll.hide{
    opacity: 0;
    pointer-events: none;
}
.car .scroll p{
    color: #bbbbbb;
    font-size: 20px;
    margin-bottom: 20px;
}
.car .scroll img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    animation: float 1s ease-in-out infinite;
}

@keyframes float {
    0%{ transform: translateY(0); }
    50%{ transform: translateY(-10px); }
    100%{ transform: translateY(0); }
}

.car .scroll.hide img{
    animation: none;
}

/* ----------- */
.clone * {
    pointer-events: none;
}
